<template>
  <div class="box has-text-centered">
    <figure class="margin-override image is-128x128 avatar">
      <img class="is-rounded" src="@/assets/validus-logo.png" />
    </figure>
    <form @submit.prevent="onSubmit">
      <div class="field">
        <div class="control">
          <input
            v-model="credential.email"
            class="input is-medium"
            type="email"
            placeholder="Your Email"
            autofocus=""
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            v-model="credential.password"
            class="input is-medium"
            type="password"
            placeholder="Your Password"
          />
        </div>
      </div>
      <button
        type="submit"
        class="button is-block is-info is-medium is-fullwidth"
      >
        Login <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { LoginCredential } from "@/types";

export default Vue.extend({
  name: "LoginForm",
  data() {
    return {
      credential: {} as LoginCredential
    };
  },
  methods: {
    onSubmit() {
      console.log("submit!");
    }
  }
});
</script>

<style lang="scss" scoped>
.box {
  margin-top: 70px;
}
.avatar {
  margin-top: -70px;
  margin-bottom: 20px;
}
</style>
